.App {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  padding: 16px;

  & > span {
    margin-right: 32px;
  }
}

.editor {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  margin-bottom: 8px;
}
